@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@keyframes back {
  0% {
    background-color: #FFD700;
  }
  25% {
    background-color: cornflowerblue;
  }
  55% {
    background-color: #C63300;
  }
  80% {
    background-color: #097e66;
  }
  100% {
    background-color: #FFD700;
  }
}
@keyframes title {
  0% {
    margin-top: -200px;
    margin-left: -300px;
  }
  50% {
    margin-top: -75px;
    margin-left: -50px;
  }
  100% {
    margin-top: -100px;
    margin-left: -75px;
  }
}
.Top {
  animation-name: title;
  animation-duration: 1.5s;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  /*border:solid 1px #FFFF33*/
}

body {
  position: relative;
  background-color: #00DDAA;
  box-sizing: border-box;
  border-top: solid 30px	#550088;
  border-bottom: solid 30px #550088;
  overflow: hidden;
  animation: back 12s infinite;
}

.Top {
  position: absolute;
  height: 300px;
  width: 330px;
  background-color: #3e6e7f;
  color: #ffffff;
  border-radius: 35px 35px 225px 30px;
  margin-top: -100px;
  margin-left: -75px;
  font-family: 'Oswald', sans-serif;
}
.Top h3 {
  margin-left: 100px;
  margin-top: 80px;
  font-size: 25px;
  width: 100px;
  line-height: 60px;
}
.Top h3 span {
  background-color: red;
  font-size: 60px;
}

.screen {
  width: 100%;
  height: 100%;
  left: 100%;
}

.namecard {
  position: fixed;
  width: 280px;
  height: 200px;
  left: 70%;
  top: 40%;
  padding: 0px 20px 30px 20px;
  overflow: hidden;
  background-color: rgba(176, 136, 255, 0.8);
  color: #FFF;
  border: solid 1px rgba 0, 0, 0, 0.15;
  box-shadow: 20px 25px 15px -15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 華康秀風體W3;
  transition: 0.5s;
}
.namecard hr {
  border-color: #fff;
  margin-top: -15px;
  margin-bottom: 20px;
}
.namecard h2 {
  font-size: 30px;
}
.namecard span {
  font-size: 20px;
}
.namecard h5 {
  font-size: 16px;
  font-weight: 400;
}

.namecard:hover {
  transform: translate(-50px, -30px);
  box-shadow: -20px -25px 15px -15px rgba(0, 0, 0, 0.5);
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
}
@keyframes falling {
  0%,100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(0px, 100%);
  }
}
.allbub [class*='bub'] {
  background-color: #D3D3D3;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  animation: falling 5s infinite;
}
.allbub .bub1 {
  position: absolute;
  left: 88.8861860226%;
  top: 50.4346559226%;
  animation-delay: -0.1s;
}
.allbub .bub2 {
  position: absolute;
  left: 83.7999981238%;
  top: 68.2209637793%;
  animation-delay: -0.2s;
}
.allbub .bub3 {
  position: absolute;
  left: 48.0155110153%;
  top: 10.7560647137%;
  animation-delay: -0.3s;
}
.allbub .bub4 {
  position: absolute;
  left: 14.1797463233%;
  top: 63.5510000573%;
  animation-delay: -0.4s;
}
.allbub .bub5 {
  position: absolute;
  left: 4.6085812443%;
  top: 3.5748634205%;
  animation-delay: -0.5s;
}
.allbub .bub6 {
  position: absolute;
  left: 92.036668616%;
  top: 69.9809623543%;
  animation-delay: -0.6s;
}
.allbub .bub7 {
  position: absolute;
  left: 97.2128577082%;
  top: 42.4600314119%;
  animation-delay: -0.7s;
}
.allbub .bub8 {
  position: absolute;
  left: 8.1358411272%;
  top: 12.8032610052%;
  animation-delay: -0.8s;
}
.allbub .bub9 {
  position: absolute;
  left: 64.2616260575%;
  top: 4.0812049768%;
  animation-delay: -0.9s;
}
.allbub .bub10 {
  position: absolute;
  left: 69.7699251638%;
  top: 55.6021310469%;
  animation-delay: -1s;
}
.allbub .bub11 {
  position: absolute;
  left: 24.6725134424%;
  top: -9.4012489032%;
  animation-delay: -1.1s;
}
.allbub .bub12 {
  position: absolute;
  left: 62.1043118464%;
  top: 75.2064082307%;
  animation-delay: -1.2s;
}
.allbub .bub13 {
  position: absolute;
  left: 81.6634209052%;
  top: 19.3788857308%;
  animation-delay: -1.3s;
}
.allbub .bub14 {
  position: absolute;
  left: 59.4436805526%;
  top: 36.2767446363%;
  animation-delay: -1.4s;
}
.allbub .bub15 {
  position: absolute;
  left: 88.6648843052%;
  top: 32.500371359%;
  animation-delay: -1.5s;
}
.allbub .bub16 {
  position: absolute;
  left: 22.3566757366%;
  top: 85.648695422%;
  animation-delay: -1.6s;
}
.allbub .bub17 {
  position: absolute;
  left: 60.931267343%;
  top: 79.9420883151%;
  animation-delay: -1.7s;
}
.allbub .bub18 {
  position: absolute;
  left: 72.4752396774%;
  top: 16.9075542202%;
  animation-delay: -1.8s;
}
.allbub .bub19 {
  position: absolute;
  left: 8.3554519773%;
  top: 8.892871343%;
  animation-delay: -1.9s;
}
.allbub .bub20 {
  position: absolute;
  left: 63.426730611%;
  top: 15.8839038653%;
  animation-delay: -2s;
}

.p1 {
  /*border:solid 1px;*/
  background-color: rgba(176, 136, 255, 0.8);
  width: 150px;
  height: 150px;
  left: 48%;
  top: 18%;
  border-radius: 50%;
  position: absolute;
  transition: 0.4s;
  box-shadow: 20px 25px 15px 2px rgba(0, 0, 0, 0.25);
}

.p1:hover {
  background-color: rgba(176, 136, 255, 0.3);
  transform: translate(-20px, -20px);
  box-shadow: -20px -25px 15px -15px rgba(0, 0, 0, 0.5);
}

h6 {
  position: absolute;
  top: 2px;
  left: 28px;
  font-size: 30px;
  font-family: 華康秀風體W3;
  color: #fff;
}

.p2 {
  background-color: rgba(176, 136, 255, 0.8);
  width: 200px;
  height: 200px;
  left: 28%;
  top: 48%;
  border-radius: 50%;
  position: absolute;
  transition: 0.4s;
  box-shadow: 20px 25px 15px 2px rgba(0, 0, 0, 0.25);
}

.p2:hover {
  background-color: rgba(176, 136, 255, 0.3);
  transform: translate(-20px, -20px);
  box-shadow: -20px -25px 15px -15px rgba(0, 0, 0, 0.5);
}

h7 {
  position: absolute;
  top: 44%;
  left: 33px;
  font-size: 30px;
  font-family: 華康秀風體W3;
  color: #fff;
}

.web {
  position: absolute;
  top: 75%;
  left: 3%;
}

.ball {
  position: relative;
  left: 60%;
  top: 75%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.line {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 3px;
  background: black;
  z-index: 1;
}

.b1 {
  position: absolute;
  left: 33px;
  top: 32px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: -webkit-radial-gradient(ellipse, white, #DDDDDD);
  border-width: 3px;
  border-style: solid;
  z-index: 1;
}

.b2 {
  background: -webkit-radial-gradient(ellipse, white, #888888);
  position: absolute;
  top: 50px;
  width: 100px;
  height: 50px;
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
}

@keyframes move {
  25% {
    left: 63%;
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    background: #0000FF;
  }
  100% {
    left: 57%;
  }
}